body {
    background: lightgray;
    overflow-x: hidden;
}
.navbar {
    background-color: #363636 !important;
    align-content: center;
    position: sticky;
    top: 0;
    height: 70px;
    z-index: 10;
}
.navbar:hover {
    opacity: 1;
    background-color: black !important;
}

.active:hover {
    color: white !important;
    border: white !important;
}

img {
    max-width: 100%;
    height: auto;
}

.header {
    text-align: center;
}

div.okraje {
    border-style: double !important;
    border-width: 2px !important;
    border-color: gray !important;
    margin-top: 2px;
}

.onas {
    color: darkred;
    text-align: left;
    margin-left: 100px;
}

.hrubsie {
    font-weight: bold;
    background-color: gray;
    color: white !important;
}
.stred {
    text-align: center;
    width: content-box;
    margin-top: 100px;
    padding-top: 100px;
}

div.zaujimavsie {
    position: relative;
    text-overflow: ellipsis;
    text-align: center;
}

div.zaujimavsie.img {
    display: block;
    max-width: 340px;
    max-height: 340px !important;
}

div.zaujimavsie .bi-tools {
    position: absolute;
    top:5px;
    left:5px;
}

#btn1 {
    margin-bottom: 20px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px !important;
    text-align: center !important;
    justify-content: center !important;
    background-color: gray !important;
    color: black !important;
    font-size: medium !important;
    height: 40px;
    margin-left: 2px !important;
  }

  #btn1:hover {
    background-color: DodgerBlue !important;
  }

  #btn2:hover {
    background-color: DodgerBlue !important;
  }
  #btn2 {
    margin-bottom: 20px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px !important;
    text-align: center !important;
    justify-content: center !important;
    background-color: gray !important;
    color: black !important;
    font-size: medium !important;
    height: 40px;
    margin-left: 2px !important;
  }

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 30px;
    bottom: 5px;
    width: 100%;
    font-size: larger;

}

div.img-container {
    text-align: center !important;
}

footer:hover {
    color: lightgray;
}

button {
    background-color: darkgray !important;
    border: white !important;
    color: black !important;
}

button:hover {
    color: white !important;
}

.bi-tools {
    color: black;
}

.description {
    display:none;
    position:absolute;
    border:1px solid #000;
    width:400px;
    height:400px;
}

.title {
    color: black;
    font-weight: bold;
}
p.mini {
    font-size: 11px;
}
#over img {
    opacity: 1;
    margin-left: auto;
    margin-right: auto;
    max-width: 70%;
    max-height: 70%;
    display: block;
}
.bi-file-plus {
    opacity: 0.6;

}
.bi-file-plus:hover {
    opacity: 1;
}
.nav-submenu {
    height: 50px !important;
    width: auto !important;
    padding: 5px 5px;
}

#edit {
    position: absolute !important;
    top: 2px;
    left: 2px;
    background: green !important;
    justify-content: right;
}

#delete {
    position: absolute !important;
    top: 2px;
    right: 2px;
    background: red !important;
    justify-content: left;
}

#selectpicker {
    position: relative;
    align-items: center;
    margin-top: 10px;
    justify-content: center !important;
    width: auto !important;
    margin: auto;
    width: 60%;
    padding: 10px;
}

#fileloading {
    width: auto !important;
    margin: auto;
    width: 60%;
    padding: 10px;
}

#btn {
    margin-bottom: 20px;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px !important;
    text-align: center !important;
    justify-content: center !important;
    background-color: gray !important;
    color: black !important;
    font-size: medium !important;
    height: 40px;
    margin-left: 2px !important;
  }

  #btn:hover {
    background-color: DodgerBlue !important;
  }

  .carousel .item img {
    max-height: 768px;
    min-width: auto;
  }




